[submodule "src/ydlidar_ros2_driver"]
	path = src/ydlidar_ros2_driver
	url = https://github.com/PinkWink/ydlidar_ros2_driver.git
[submodule "src/YDLidar-SDK"]
	path = src/YDLidar-SDK
	url = https://github.com/PinkWink/YDLidar-SDK.git
