<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

<joint name="lidar_joint" type="fixed">
  <origin xyz="0.075 0.0 0.0725" rpy="0 0 0"/>
  <!-- <origin xyz="0.075 0.0 0.049" rpy="0 0 0"/> -->

  <parent link="base_link"/>
  <child link="lidar_1"/>
</joint>

<link name="lidar_1">
  <inertial>
    <origin xyz="1.3877787807814457e-17 4.6725989507824595e-17 0.02318969485822718" rpy="0 0 0"/>
    <mass value="1.4817210435825128"/>
    <inertia ixx="0.000761" iyy="0.000761" izz="0.000958" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.075 -0.0 -0.049" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find crash_simulation)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.075 -0.0 -0.049" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find crash_simulation)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>


<gazebo reference="lidar_1">
        <material>Gazebo/White</material>

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-1.48353</min_angle> 
                        <max_angle>1.48353</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar_1</frame_name>
            </plugin>
        </sensor>
</gazebo>

</robot>